<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://cdn.webrtc-experiment.com/RecordRTC.js"></script>
    <script src="https://cdn.webrtc-experiment.com/getScreenId.js"></script>
    <script src="https://cdn.rawgit.com/webrtc/adapter/master/adapter.js"></script>
    <script type="text/javascript" async="" src="//webrtcexperiment.disqus.com/embed.js"></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("InterviewTube", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="body-content">
        @RenderBody()
        <hr />
        <div class="container">
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>
    </div>
    <script src="https://cdn.webrtc-experiment.com/commits.js" async=""></script>
    <script src="https://api.github.com/repos/muaz-khan/WebRTC-Experiment?callback=callback00" async=""></script>
    <script src="//cdn.webrtc-experiment.com/common.js" async=""></script>
    <script src="https://api.github.com/repos/muaz-khan/WebRTC-Experiment?callback=callback00" async=""></script>
    <script src="https://api.github.com/repos/muaz-khan/RecordRTC/commits?sha=master&amp;callback=commitsCallback" async=""></script>
    <script src="https://api.github.com/users/muaz-khan?callback=callback00" async=""></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
